[loggers]
keys=root,db_message_cache,db_model,api_routes,listener,util_config,util_filepath_config,util_grib_file_conifig,messaging_cmc_grig_callbacks

[handlers]
keys=consoleHandler

[formatters]
keys=consoleFormatter

#----- LOGGERS

[logger_root]
level=INFO
handlers=consoleHandler

[logger_db_model]
level=DEBUG
handlers=consoleHandler
qualname=db.model
propagate=0

[logger_db_message_cache]
level=DEBUG
handlers=consoleHandler
qualname=db.message_cache
propagate=0

[logger_api_routes]
level=DEBUG
handlers=consoleHandler
qualname=messaging.api_routes
propagate=0

[logger_listener]
level=INFO
handlers=consoleHandler
qualname=messaging.listener
propagate=0

[logger_util_config]
level=DEBUG
handlers=consoleHandler
qualname=util.config
propagate=0

[logger_util_filepath_config]
level=DEBUG
handlers=consoleHandler
qualname=util.file_path_config
propagate=0

[logger_util_grib_file_conifig]
level=INFO
handlers=consoleHandler
qualname=util.grib_file_config
propagate=0

[logger_messaging_cmc_grig_callbacks]
level=INFO
handlers=consoleHandler
qualname=messaging.cmc_grib_callbacks
propagate=0




#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)


#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter