.env
*.pyc
__pycache__
venv/
src/oldWget.bat
old/
scripts/src/wgrib2/grib2
wgrib2.tgz
src/wgrib2/wgrib2
tmp/
cmc_data/
cmc_data2/
junk*
cansips_forecast_raw_latlon1.0x1.0_TMP_TGL_2m_2023-02_allmembers.grib2
scripts/src/wgrib2/
message.log
test_oc/
event_database.db
test_db.db
backend/data/event_database_backup.db
data/event_database_old.db
raw_data/
ecmwf/
NWP/