[loggers]
keys=root,db_model,db_message_cache,messaging_MSCDataMartSubscriber,messaging_util_grib_file_config,messaging_cmc_grib_callbacks,messaging_util_grib_file_config,util_config

[handlers]
keys=consoleHandler

[formatters]
keys=consoleFormatter

#----- LOGGERS

[logger_root]
level=INFO
handlers=consoleHandler

[logger_db_model]
level=DEBUG
handlers=consoleHandler
qualname=db.model
propagate=0

[logger_db_message_cache]
level=DEBUG
handlers=consoleHandler
qualname=db.message_cache
propagate=0

[logger_messaging_MSCDataMartSubscriber]
level=DEBUG
handlers=consoleHandler
qualname=messaging.MSCDataMartSubscriber
propagate=0

[logger_messaging_util_grib_file_config]
level=INFO
handlers=consoleHandler
qualname=util.grib_file_config
propagate=0

[logger_messaging_cmc_grib_callbacks]
level=DEBUG
handlers=consoleHandler
qualname=messaging.cmc_grib_callbacks
propagate=0

[logger_util_config]
level=DEBUG
handlers=consoleHandler
qualname=util.config
propagate=0


#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)


#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter